<div class='new-user'>
  <h2>Let's Get You Started!</h2>
  <div class='user-form'>
    <%= form_for @user, method: :post do |f| %>
      <div class='form-group'>
        <%= label_tag :email %>
        <br>
        <%= f.email_field :email, class: "form-control" %>
      </div>
       <div class='form-group'>
        <%= label_tag :password %>
        <br>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class='form-group'>
        <%= label_tag :password_confirmation %>
        <br>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <div class='form-group'>
        <%= f.submit "Sign Up", class: "form-control btn btn-default btn-success" %>
      </div>
    <% end %>
  </div>
</div>