<h2>Hi <%= @current_user.email %>! </h2>
<div class='links-header'>
</div>
<% if current_user %>
  <%= render partial: 'layouts/link_form' %>
<% end %>

  <h2>Links!</h2>
  <div class='search-box'>
    <input type="text" name="search" placeholder="Search..">
    <div><button class='read-filter'>Read links</button></div>
    <div><button class='unread-filter'>Unread links</button></div>
  </div>
  
  <div class='link-container'>
    <div class='top-container'>
      <% if @links[:top] %>
        <%= render partial: "layouts/toplink", locals: {link: @links[:top][0]} %>
      <% end %>
    </div>
    <div class='hot-container'>
      <% if @links[:hot] %>
        <% @links[:hot].each do |link| %>
          <%= render partial: "layouts/hotlink", locals: {link: link} %>
        <% end %>
      <% end %>
    </div>
    <div class='links-container'>
      <% if @links[:links] %>
        <% @links[:links].each do |link| %>
          <%= render partial: "layouts/link", locals: {link: link} %>
        <% end %>
      <% end %>
    </div>
  </div>
<br>
<%= render partial: 'layouts/logout' %>
