<h2>Hi <%= @current_user.email %>! </h2>
<div class='links-header'>
</div>
<% if current_user %>
  <%= render partial: 'layouts/link_form' %>
<% end %>

<% if @links.count >= 1 %>
  <h2>Links!</h2>
  <div class='links-list'>
    <% @links.each do |link| %>
      <div class='link'>
        <%= link.title %>
        <br>
        <%= link_to link.url, link.url %>
        <br>
        Read: <%= link.read %>
        <br>
        <%= link_to 'Edit', edit_link_path(link) %>
      </div>
    <% end %>
  </div>
<% end %>
<br>
<%= render partial: 'layouts/logout' %>