<h2>Hi <%= @current_user.email %>! </h2>
<div class='links-header'>
</div>
<% if current_user %>
  <%= render partial: 'layouts/link_form' %>
<% end %>

<% if @links.count >= 1 %>
  <h2>Links!</h2>
  <div class='link-container'>
    <% @links.each do |link| %>
      <div class='col link'>
        <%= link.title %>
        <br>
        <%= link_to "#{link.url[8..28]}..", link.url %>
        <br>
        <p class="read-status"> 
          Read: <%= link.read %>
        </p>
        <br>
        <%= button_to 'Mark as Read', update_status_path(link) %>
        <%= button_to 'Edit', edit_link_path(link), method: :get %>
      </div>
    <% end %>
  </div>
<% end %>
<br>
<%= render partial: 'layouts/logout' %>
