<h2>Hi <%= @current_user.email %>! </h2>
<div class='links-header'>
  <h2>Links!</h2>
</div>
<div class="link-form">
  <em>Add a Link...</em>
  <%= form_tag("/api/v1/links", method: :post) do %>
    <br>
    <%= label_tag :link_url %>
    <%= text_field_tag :link_url %>
    <br>
    <%= label_tag :link_title %>
    <%= text_field_tag :link_title %>
    <br>
    <%= submit_tag "Add Link" %>
  <% end %>
</div>

<div class='links-list'>
  
</div>
<br>
<%= render partial: 'layouts/logout' %>