<h2>Hi <%= @current_user.email %>! </h2>
<div class='links-header'>
</div>
<% if current_user %>
  <%= render partial: 'layouts/link_form' %>
<% end %>

<% if @links.count >= 1 %>
  <h2>Links!</h2>
  <div class='search-box'>
    <input type="text" name="search" placeholder="Search..">
    <div><button class='read-filter'>Read links</button></div>
    <div><button class='unread-filter'>Unread links</button></div>
  </div>
  <div class='link-container'>
    <% if @hotreads.length > 0 %>
      <%= render partial: "layouts/hotlink", locals: {link: @hotreads.shift, hot: "top"} %>
      <% @hotreads.each do |link| %>
        <%= render partial: "layouts/hotlink", locals: {link: link, hot: "hot"} %>
      <% end %>
    <% end %>  
    <% @links.each do |link| %>
      <%= render partial: "layouts/link", locals: {link: link} %>
    <% end %>
  </div>
<% end %>
<br>
<%= render partial: 'layouts/logout' %>
