<div class="col link <%=link.read%>" data-link-id=<%=link.id%> >
  <div>
    <p class='link-title'>
      <%= link.title %>
    </p>
    <p class='link-url'>
      <%= link_to "#{link.url[8..28]}..", link.url %>
    </p>
    <p class="read-status"> 
      Read: <%= link.read %>
    </p>
    <% if link.read == false %>
      <button class='mark-as-read'>Mark as Read</button>
    <% else %>
      <button class='mark-as-unread'>Mark as Unread</button>
    <% end %>      
    <%= button_to 'Edit', edit_link_path(link), method: :get %>
  </div>
</div>