<div class="link-form">
  <em>Add a Link...</em>
  <%= form_tag("/links", method: :post) do %>
    <br>
    <%= label_tag :link_url %>
    <%= text_field_tag :url %>
    <br>
    <%= label_tag :link_title %>
    <%= text_field_tag :title %>
    <br>
    <%= submit_tag "Add Link", class: 'submit-link' %>
  <% end %>
</div>